body {
  font-family: "Playfair Display", serif;
}
.fondo-dark {
  background-color: rgba(0, 0, 0, 0.801);
}
a img {
  width: 70px;
  height: 50px;
  object-fit: contain;
}
nav {
  transition: 0.7s;
}
/* Seccion sobre nosotros */
.contenedor1 img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}
/* Seccion info */
.contenedor {
  background-image: url(../img/section3/sushi.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  object-fit: contain;
}

/* Seccion nuestros productos */
.imgNosotros {
  width: 370px;
}
.imgNosotros1 {
  width: 350px;
}
.fuente1 {
  font-family: "Dosis", sans-serif;
}
