body {
  font-family: "Playfair Display", serif;
}
.fondo-dark {
  background-color: rgb(0, 0, 0);
}
/* Nav / Menu */
a img {
  width: 120px;
  height: 70px;
  object-fit: contain;
}
nav {
  transition: 0.7s;
}
.btnNav {
  margin: 0.5em;
  background: transparent;
  color: white;
  border: none;
  border-radius: 0.625em;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.btnNav:hover {
  color: rgb(0, 0, 0);
}

.btnNav:after {
  content: "";
  background: white;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}

.btnNav:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

/* Seccion sobre nosotros */
.contenedor1 img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}
/* Seccion info */
.contenedor {
  background-image: url(../img/section3/sushi.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  object-fit: contain;
}

/* Seccion nuestros productos */
.imgNosotros {
  width: 370px;
}
.imgNosotros1 {
  width: 350px;
}
.fuente1 {
  font-family: "Dosis", sans-serif;
}
/* Seccion de Pedidos */
a {
  text-decoration: none;
}
.imgPedidos {
  width: 60px;
  height: 50px;
  object-fit: contain;
  margin: 0px;
}
/* Seccion de Contactos */
.contenedor2 {
  background-image: url(../img/section6/imgfondo.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  object-fit: contain;
}
.colContac {
  width: 150px;
  height: 100px;
  object-fit: contain;
}
/* boton de contacto */
.button {
  --color: #f7f4f3;
  padding: 0.8em 1.7em;
  background-color: black;
  border-radius: 0.3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 400;
  font-size: 17px;
  border: 3px solid;
  text-transform: uppercase;
  color: var(--color);
  z-index: 1;
}

.button::before,
.button::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
}

.button::before {
  top: -1em;
  left: -1em;
}

.button::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.button:hover::before,
.button:hover::after {
  height: 410px;
  width: 410px;
}

.button:hover {
  color: rgb(10, 25, 30);
}

.button:active {
  filter: brightness(0.8);
}
/* Pie de pagina */
.contenedor3 {
  background-image: url(../img/section7/imgfondo.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  object-fit: contain;
}
.colPiePag img {
  width: 50px;
  height: 30px;
  object-fit: contain;
  margin: 0px;
}
.imgLogo {
  width: 120px;
  height: 80px;
  object-fit: contain;
}
